@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
}

header {
    text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    position: fixed;
    width: 100%;
    background-color: white;
}

.menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu li {
    display: inline-block;
    padding: 10px 20px;
}

.banner-section img {
    width: 100%;
    padding: 0;
    object-fit: cover;
}

footer {
    background-color: #cccccc;
    text-align: center;
}

.btn-submit {
    padding: 10px 20px;
    background: #ffffff;
    border: 1px solid black;
    cursor: pointer;
} 

.alinhados {
    display: flex;
  justify-content: center;
  margin-top: 200px;
  margin-left: 100px;
}

.formulario-contato{
    float: left;
}

.map{
    float: left;
}

.contatos {
    margin: 30px;
    padding: 20px;
    padding-top: 50px;
    text-align: left;
    align-self: flex-end;
}

#contactname {
    font-weight: bold;
    font-size: 25px;
}

#info {
    font-size: 15px;
    font-weight: normal;
}

.management {
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    margin-left: 480px;
    margin-right: 400px;
}

.booking {
    border-bottom: 1px solid gray;
    margin-left: 480px;
    margin-right: 400px;
}

.label {
    border-bottom: 1px solid gray;
    margin-left: 480px;
    margin-right: 400px;
}

.pr{
    margin-left: 480px;
    margin-right: 400px;
}
.contact-section a {
    color: blue;
    text-decoration: underline;
    float: left;
}

.photo{
    width: 30%
   
}

.frases{
margin-top: 200px;
/*margin-left: 100px;*/
}

.enfase{
    text-align: center;
    font-size: large;
    font-weight: bold;
}

.autor{
    text-align: center;
    font-size: small;
    
}

.titulo-centro{
    text-align: center;
}

.photo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.music-margem{
    margin-left: 300px;
    margin-top: 240px;
}