@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
}

header {
    text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    position: fixed;
    width: 100%;
    background-color: white;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li {
    /* li de dentro do ul*/
    display: inline-block;
    /* um do lado do outro*/
    padding: 10px 20px;
    /*sentido horário*/
}

.banner-section img {
    width: 100%;
    padding: 0;
    /*margin-top:-100px;*/
    object-fit: cover;
}

footer {
    background-color: #cccccc;
    text-align: center;
}

form{
    width: 100%;
    margin: 180px 10px 10px 50px;
    /*object-fit: cover;*/
}
.btn-submit {
    padding: 10px 20px;
    background: #ffffff;
    border: 1px solid black;
    cursor: pointer;
} 

.btn-submit:hover {
    border-color: red;
    color: red;
}

input:focus {
    outline-color: blue;
}

textarea:focus {
    outline-color: blue;
}

/*verificar*/


#quiz{
    justify-content: left;
    padding: 0;
    margin: 0;
}

.contact-section {
    margin: 30px;
    padding: 20px;
    padding-top: 50px;
    text-align: left;
    align-self: flex-end;
}

#contactname {
    font-weight: bold;
    font-size: 25px;
}

#info {
    font-size: 15px;
    font-weight: normal;
}

.management {
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
}

.booking {
    border-bottom: 1px solid gray;
}

.label {
    border-bottom: 1px solid gray;
}

.contact-section a {
    color: blue;
    text-decoration: underline;
    float: left;
}

main {
    margin-top: 100px;
    padding-left: 100px;
    display: inline-block;
}


.local {
    margin-top: 40px;
    margin-left: 80px;
}

input {
    width: 450px;
    height: 20px;
}

input.find {
    width: 20px;
    padding: 0;
    margin: 0;
}

.alinhados{
align-items: flex-start;    
}